{% extends "admin/login.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        <div class="form-row">
            {{ form.username.errors }}
            <label for="id_username" class="required">{% translate 'Usuário:' %}</label>
            {{ form.username }}
        </div>
        <div class="form-row">
            {{ form.password.errors }}
            <label for="id_password" class="required">{% translate 'Senha:' %}</label>
            {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}">
        </div>
        {% url 'admin_password_reset' as password_reset_url %}
        {% if password_reset_url %}
        <div class="password-reset-link">
            <a href="{{ password_reset_url }}">{% translate 'Forgotten your password or username?' %}</a>
        </div>
        {% endif %}
        <div class="submit-row">
            <input type="submit" value="{% translate 'Log in' %}">
        </div>
    </form>
</div>
{% endblock %}